extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-md-6

        +box-head("Lấy lại mật khẩu")

        .card.shadow.p-4

          p.mb-3
            | Nhập email của bạn để nhận mã xác nhận đặt lại mật khẩu.

          form(
            action="/user/password/forgot"
            method="POST"
          )

            .mb-3
              label.form-label Email
              input.form-control(
                type="email"
                id="email"
                name="email"
                placeholder="Nhập email..."
                required
              )

            button.btn.btn-primary.w-100(type="submit")
              | Gửi mail xác nhận