extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-md-6

        +box-head("Xác nhận OTP")

        .card.shadow.p-4

          h3.mb-3
            | Nhập mã OTP đã được gửi tới email của bạn.

          form(
            action="/user/password/otp"
            method="POST"
          )
            div(class="form-group")
              label(for="email") Email 
              input(
                type="emai"
                class="form-control"
                id="email"
                name="email"
                required 
                value=email 
                readonly
              ) 


            .mb-3
              label.form-label Mã OTP
              input.form-control(
                type="text"
                name="otp"
                placeholder="Nhập mã OTP"
                required
              )

            button.btn.btn-success.w-100(type="submit")
              | Xác nhận